:root {
  font-family: "Times New Roman", Times, serif;
  --darkbeige: #8c8377;
  --lightbeige: #bfb3a4;
  --whitebrown: #d9cdbf;
  --bgblack: #010d00;
  --red: #f25749;
  --green: #3fbf77;
  --orange: #f2a444;
  --white: #f2f0eb;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0px;
}

body {
  color: var(--darkpurp);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  background-color: var(--darkbeige);
  border: solid var(--whitebrown) 4px;
  border-radius: 10px;
}

header {
  background-color: var(--lightbeige);
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 10px 0 10px;
  justify-content: space-evenly;
}

ol {
  text-align: left;
  list-style-type: upper-roman;
}

li {
  font-size: 1.1rem;
}

.randomizeButton {
  border-right-style: 4px solid var(--lightbeige) outset;
  border-bottom-style: 4px solid var(--darkbeige) outset;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--bgblack);
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  margin-top: 25px;
  margin-left: 20px;
}
.button {
  padding: 10px;
  margin-top: 2px;
  border-right-style: 10px solid var(--lightbeige) outset;
  border-bottom-style: 10px solid var(--darkbeige) outset;
  background-color: var(--white);
  color: black;
  text-align: center;
  font-size: 1rem;
}

.randomizeButton:hover {
  background-color: #ffaf3f;
}

.button:hover {
  background-color: #ffffff;
}

.default {
  background-color: var(--orange);
  color: var(--white);
}
.correct {
  background-color: var(--green);
  color: var(--white);
}
.incorrect {
  background-color: var(--red);
  color: var(--white);
}

audio::-webkit-media-meter-bar {
  display: none;
}

/* audio::-webkit-media-controls-play-button {
  transform: scale(2, 2);
}

audio::-webkit-media-controls-panel {
} */

.wrapper {
  background-color: var(--lightbeige);
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  border-radius: 0px 0px 5px 5px;
}
