:root {
  font-family: sans-serif;
  --blue: rgb(102, 102, 218);
  --red: rgb(255, 122, 122);
  --green: rgb(139, 236, 139);
}

* {
  box-sizing: border-box;
}

.grid {
  justify-content: center;
  display: grid;
  column-gap: 4vw;
  row-gap: 4vh;
}

header {
  grid-row: 1;
}

audio {
  margin-top: 5vh;
  width: 20vw;
}

.randomizeButton {
  border-radius: 5px;
  border: none;
  background-color: var(--blue);
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}
.button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 2px;
  border: none;
  background-color: var(--blue);
  color: white;
  text-align: center;
  font-size: 1rem;
}

.default {
  width: 20vw;
  height: 20vh;
  background-color: var(--blue);
  color: white;
}
.correct {
  width: 20vw;
  height: 20vh;
  background-color: var(--green);
  color: white;
}
.incorrect {
  width: 20vw;
  height: 20vh;
  background-color: var(--red);
  color: white;
}

/* audio::-webkit-media-controls-play-button {
  transform: scale(2, 2);
}

audio::-webkit-media-meter-bar {
  display: none;
}

audio::-webkit-media-controls-panel {
  background-color: blue;
} */
